{% extends "header.html" %}
{% block content %}
<h3>About Us</h3>
<ps style="font-size: 20px">
    Thanks for visiting rate-professor. This flask app was created by Rohith Chandu, for the final project of our python flask development class, CMSC388J, at the University of Maryland. 
    This website allows UMD students to find reviewes for professors at UMD on a scale from 1-5. This website also allows students to post reviews and write comments about a specific landlord. 
    With this website, we hope that we can help people choose a proper professor by reading reviews about his/her classes. Good luck!
    <br />
    <br />
    <h5>Rohith Chandu</h5>
    My name is Rohith Chandu and I'm a senior at UMD. I was able to come up with the idea for this app because for the longest time I would use ratemyprofessor.com and I thought it would be awesome for students at UMD to have their own private website!
    <br />
    <br />
    
  </p>
 
{% endblock %}
